---

interface Props{
    path:string;
}

const {
    path='./'
} = Astro.props

console.log(path)


---

<div class="mx-auto w-screen bg-zinc-900 p-12">
    <div class="container">

        <div class="grid md:grid-cols-4 gap-5">

            <!-- //! Nuestros productos -->
            <div class="md:col-span-2 order-2 md:order-1">

                <h1 class="font-Bebas-Neue text-3xl pb-4 text-yellow-600">Nuestros productos</h1>

                <div class="grid md:grid-cols-2 gap-x-5 gap-y-8">

                    <div>

                        <div class='mb-5'>
                            <a href=`${path}productos/cristal-tipos` target="_self">
                                <h3 class="font-Bebas-Neue text-lg text-zinc-400">Tipos de cristal</h3>
                                <ul class="list-disc pl-5 text-sm">
                                    <li>Flotado</li>
                                    <li>Reflectivo</li>
                                    <li>Esmerilado</li>
                                    <li>Espejo</li>
                                    <li>Laminado</li>
                                </ul>
                            </a>
                        </div>

                        <div class=''>
                            <a href=`${path}productos/cristal-procesos` target="_self">
                                <h3 class="font-Bebas-Neue text-lg text-zinc-400">Procesos en cristal</h3>
                                <ul class="list-disc pl-5 text-sm">
                                    <li>Templado</li>
                                    <li>Canto pulido</li>
                                    <li>Grabado</li>
                                    <li>Bisel</li>
                                    <li>Cenefas</li>
                                    <li>Barrenos</li>
                                    <li>Saques</li>
                                    <li>Esmerilados</li>
                                </ul>
                            </a>
                        </div>

                    </div>

                    <div>

                        <div class='pb-5'>
                            <a href=`${path}productos/aluminio` target="_self">
                                <h3 class="font-Bebas-Neue text-lg text-zinc-400">Perfiles de aluminio</h3>
                                <ul class="list-disc pl-5 text-sm">
                                    <li>Línea nacional</li>
                                    <li>Línea española</li>
                                    
                                </ul>
                            </a>
                        </div>

                        <div class='pb-5'>
                            <a href=`${path}productos/herrajes` target="_self">
                                <h3 class="font-Bebas-Neue text-lg text-zinc-400">Herrajes</h3>
                                <ul class="list-disc pl-5 text-sm">
                                    <li>Para cristal templado</li>
                                    <li>Para cancelería de aluminio nacional y española</li>
                                </ul>
                            </a>
                        </div>
    
                        <div class='pb-5'>
                            <a href=`${path}productos/adicionales` target="_self">
                                <h3 class="font-Bebas-Neue text-lg text-zinc-400">Productos adicionales</h3>
                                <ul class="list-disc pl-5 text-sm">
                                    <li>Acrílicos</li>
                                    <li>Policarbonato</li>
                                    <li>Plásticos para baño</li>
                                    <li>Domos</li>
                                </ul>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!--//! Contacto -->
            <div class="col-span-2 order-1 md:order-2">

                <h1 class="font-Bebas-Neue text-3xl pb-4 text-yellow-600">Contactanos hoy mismo</h1>

                <div class="grid md:grid-cols-2 gap-4">

                    <div>
                        <div class="relative w-full h-96">
                        <iframe
                        class="absolute top-0 left-0 w-full h-full"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.3584712609995!2d-98.98006178844165!3d19.697356732094352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ed19a652adbd%3A0x37f45662d04a2e0a!2sALUVITEC!5e0!3m2!1ses-419!2smx!4v1718233397884!5m2!1ses-419!2smx"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0"
                        >
                        </iframe>
                        </div>
                    </div>

                    <div>
                        <div>
                            <h3 class="font-Bebas-Neue text-lg text-zinc-400">Dirección</h3>
                            <p class="pb-5 text-sm">
                                Temascalcingo LT 24, Col Hueyotencotl, Tecámac. Estado de
                            México. <span class="text-yellow-600">Estamos detrás de Power Center Tecámac, junto a Conalep</span>
                        </p>
                    </div>

                    <div class="pb-5">
                        <h3 class="font-Bebas-Neue text-lg text-zinc-400">Teléfonos</h3>
                        <ul class="text-sm">
                            <li><a href="tel:59360365" target="_self"><i class="fas fa-phone-alt"></i> 5936 0365</a></li>
                            <li><a href="tel:59362789" target="_self"><i class="fas fa-phone-alt"></i> 5936 2789</a></li>
                            <li><a href="tel:59363562" target="_self"><i class="fas fa-phone-alt"></i> 5936 3562</a></li>
                            <li><a href="tel:63593952" target="_self"><i class="fas fa-phone-alt"></i> 6359 3952</a></li>
                        </ul>
                    </div>

                    <div class="pb-5">
                        <h3 class="font-Bebas-Neue text-lg text-zinc-400">Whatsapp</h3>
                        <a href="https://wa.link/5q1zrg" target="_blank" >
                            <i class="fab fa-whatsapp"></i>
                            Envar mensaje 
                        </a>
                    </div>
    
                    <div>
                        <h3 class="font-Bebas-Neue text-lg text-zinc-400">Horarios de lunes a viernes</h3>
                        <ul class="text-sm">
                            <li><i class="far fa-clock"></i> de 8:30am - 2:00 pm</li>
                            <li><i class="far fa-clock"></i> y de 3:15pm a 6:00pm</li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="text-center italic py-12 text-zinc-400 text-sm">
        <p>© Todos los derechos reservados</p>
        <p>aluvitec.mx 2024</p>
    </div>

    </div>
</div>